@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400;700&family=Luckiest+Guy&family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,600;1,300&display=swap');

body{
    --skyblue:#68C9DC;
    --purple:#D761DC;
    --blue:#9686FC;
    --light-black:#1B1C19;
    --orange:#F8A013;
    --dark-grey:#969696;
    --light-green:#04d39f;
    --red:#DD3333;
    --light-grey:#323232;

}

.cart{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.cart .rightcart{
    margin-top: 2rem;
    width: 320px;
    height:300px ;
    border: 1px solid #e8e8e8;
    margin-left: 50px;
    background-color: #f9f9f9;
}
.cart .leftcart{
    position: relative;
width: 60%;
min-width: 280px;
min-height: 600px;
max-height: fit-content;
border: 1px solid #e8e8e8;
margin-top: 2rem;

}
.cart .leftcart .header{
   
    font-family: 'Lato', sans-serif;
    display: flex;
    font-size: 14px;
    text-shadow: 0.2px 0.4px black;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e8e8e8;

}
.cart .leftcart .down{
    display: flex;
    margin-left: 20px;
    color: var(--dark-grey);
}
.cart .leftcart .down i{
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding-top: 10px;
    margin-right: 15px;
}
.cart .leftcart .down img{
margin-right: 15px;
}
.cart .leftcart .down .para{
    font-size: 10px;
}
.cart .leftcart .pricesection{
  position: relative;
    display: flex;
    margin:0 50px;
}
.cart .leftcart a{
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 14px;
    text-align: left;
}
.cart .leftcart .product{
    display: flex;
    margin-left: 5.5rem;
   
}

.cart .leftcart .pricesection>div{
margin-right:1.4rem;
}
.cart .rightcart .title  {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}
.cart .rightcart .alltotal{
    padding: 1.4rem 1.2rem;
    background-color: white;

}
.cart .rightcart .alltotal .subtotals{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    color: #323232;
}
.cart .rightcart .alltotal .totals{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato',sans-serif;
padding-top: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}
.cart .rightcart .alltotal .totals .price{
    font-size: 24px;
    color: var(--orange);
    font-weight: 700;
}
.cart .rightcart  .btn{
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    font-size: 15px;
    font-family: 'Lato',sans-serif;
    cursor: pointer;

}
.cart .rightcart  .btn:hover{
background-color: var(--orange);
transition: all 0.5s ease ;
}
@media (max-width:720px){
    .cart .leftcart{
        position: relative;
    width: 100%;    
    }
    .cart{
        width: 100%
    }
    .cart .leftcart .pricesection>div{
        margin-right:1.0rem;
        }
        .cart .leftcart .product{

            margin-left: 2.5rem;
           
        }
        .cart .rightcart{
            width: 80%;
           
            margin-left: auto;
            margin-right: auto;
        }
}

@media (max-width:375px){
    .cart .leftcart .pricesection{
       font-size: 10px !important;
          margin:0 0px;
      }
      .cart .leftcart .product{

        margin-left: 1.5rem;
       
    }
}